* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mainBody {
	background-color: black;
	font-family: 'Antic Slab';
	background-size: cover;
}
p {
	color: white;
	font-family: 'Antic Slab';
	text-shadow: 2px 2px 5px black;
	text-align: justify;
	padding-bottom: 10px;
	margin-right: 15%;
	margin-left: 3%;
	font-size: 17px;
}

h1 {
	text-align: center;
	color: white;
	text-decoration: bold;
	margin: 5px;
	letter-spacing: 4px;
}

.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
}

.dropdown {
	position: relative;
	display: inline-block;
	right: 17px;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	font-size: 18px;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}


.socialIcons .btn-1:hover {
	color: blue;
	font-size: 38px;
}

.socialIcons .btn-2:hover {
	color: lightblue;
	font-size: 38px;
}

.socialIcons .btn-3:hover {
	color: orange;
	font-size: 38px;
}

.socialIcons .btn-4:hover {
	color: grey;
	font-size: 38px;
}

.header {
	height: 100vh;
}


.socialIcons .btn-1 {
	position: -webkit-sticky;
	position: fixed;
	font-size: 35px;
	top: 50%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.socialIcons .btn-2 {
	position: -webkit-sticky;
	position: fixed;
	font-size: 35px;
	top: 58%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.socialIcons .btn-3 {
	position: -webkit-sticky;
	position: fixed;
	font-size: 35px;
	top: 66%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.socialIcons .btn-4 {
	position: -webkit-sticky;
	position: fixed;
	font-size: 35px;
	top: 74%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.video-background {
	position: fixed;
	object-fit: cover;
	right: 0;
	bottom: 0;
	min-width: 100%;
	height: 100%;
	z-index: -1;
}

.landingtext {
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	text-shadow: 2px 2px 5px black;
	text-align: justify;
}

.logo {
	margin: 25px;
	height: 90px;
	left: 40%;
	position: absolute;
}

#slogan {
	left: 65%;
	margin: 10px;
	height: 110px;
	position: absolute;
	font-size: 25px;
	color: darkgrey;
}

#slogan:hover {
	color: white;
}

.btn {
	position: absolute;
	border-radius: 20px;
	color: black;
	padding: 15px 15px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	transform: translate(-50%, -50%);
}


.button1 {
	font-size: 14px;
	left: 15%;
	top: 70%;
	border: 2px solid orange;
}

.button1:hover {
	background-color: orange;
	color: white;
}

.button2 {
	font-size: 14px;
	left: 40%;
	top: 70%;
	border: 2px solid green;
}

.button2:hover {
	background-color: green;
	color: white;
}

.morebutton {
	font-size: 14px;
	left: 50%;
	width: auto;
	top: 85%;
	padding: 15px 15px;
	border: 2px solid red;
}

.morebutton:hover {
	background-color: red;
	color: white;
}

.slide {
	width: 20%;
	display: inline;
	position: relative;
	transform: translate(-50%, -50%);
}

.img {
	left: 5px; 
	padding-right: 10px;
	width: 80%;
	height: auto;
	display: block;
	border-radius: 12px;
	margin: 5px;
	cursor: pointer;
}


.slide:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  white-space: nowrap;
  font-size: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	/*margin-right: 5px;*/
	height: 0;
	width: 97%;
	opacity: 0;
	transition: .5s ease;
	background: white;
}

#aboutUs{
	width: 100%;
	height: 100vh;
	margin-top: 10px;
    margin-bottom: 10px;
}

.gallery img {
	width: 100%;
	border-radius: 12px;
}

.gallery {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 5px;
}

li:nth-child(1) {
	grid-column: 1/span 2;
	grid-row: 1/span 2;
	z-index: -1;
}

li:nth-child(2) {
	grid-column: 2/span 3;
	grid-row: 2/span 3;
	z-index: -1;
}

li:nth-child(3) {
	grid-column: 4/span 2;
	grid-row: 1/span 2;
}

#services{
	width: 100%;
	height: 100vh;
	margin-top: 10px;
    margin-bottom: 10px;
}

#clients{
	width: 100%;
	height: 100vh;
	margin-top: 10px;
    margin-bottom: 10px;
}

ul li a {
	text-decoration: none;
}

#contactUs{
	width: 100%;
	height: 100vh;
	margin-top: 10px;
    margin-bottom: 10px;
}

.contactBtn {
	border-radius: 20px;
	color: black;
	padding: 15px 15px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	transform: translate(-50%, -50%);
	text-decoration: none;
}

.directions {
	font-size: 14px;
	margin-left: 8%;
	margin-top: 5%;
	width: auto;
	border: 2px solid purple;
}

.directions:hover {
	background-color: purple;
	color: white;
}

.phonecall {
	font-size: 14px;
	margin-left: 7%;
	margin-top: 3px;
	width: auto;
	border: 2px solid blue;
}

.phonecall:hover {
	background-color: blue;
	color: white;
}


#textBox {
	/*border: 2px solid grey;*/
	width: 50%;
	height: 25%;
	padding: 12px 12px;
	border-radius: 8px;
	margin-left: 3%;
}

#textBox label {
	display: block;
	text-align: left;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
}

#textBox input{
	width: 50%;
	border: 2px solid white;
	border-radius: 8px;
	background: white;
	outline: none;
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 12px;
}

#textBox textarea{
	width: 50%;
	height: 70%;
	border: 2px solid white;
	border-radius: 8px;
	background: white;
	outline: none;
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 12px;
}

#sendBtn {
	display: block;
	background-color: none;
	padding: 14px 0;
	border: 2px solid white;
	text-decoration: none;
	color: black;
	border-radius: 8px;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	text-align:center;
	width: 50%;
} 

#sendBtn:hover {
	background-color: darkorange;
	color: white;
}

.contactUs {
	background-color: lightgrey;
}

.pageHeading {
	background-color: white; 
	font-size: 50px; 
	color: black; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	text-align: center;
}


/*------------------------------------------------ Mobile Configuration --------------------------------------------*/
@media only screen and (max-width: 600px) 
{

.images {
	width: 20%;
	height: 30%;
}

.slider-image {
	width: 15%;
	height: 22%;
}

.dropbtn {
	padding: 14px;
	font-size: 12px;
	border: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
}

.dropdown {
	position: relative;
	display: inline-block;
	right: 17px;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 9px 12px;
	text-decoration: none;
	display: block;
}


.dropdown:hover .dropdown-content {
	display: block;
}

#textBox input{
	width: 200px;
	border: 2px solid white;
	border-radius: 8px;
	background: white;
	outline: none;
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 12px;
}

#textBox textarea{
	width: 200px;
	height: 70%;
	border: 2px solid white;
	border-radius: 8px;
	background: white;
	outline: none;
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 12px;
}

#sendBtn {
	display: block;
	background-color: none;
	padding: 14px 0;
	border: 2px solid white;
	text-decoration: none;
	color: white;
	border-radius: 8px;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	text-align:center;
	width: 200px;
} 

.button1 {
	font-size: 11px;
	left: 20%;
	top: 65%;
	width: auto;
}

.button2 {
	font-size: 11px;
	left: 55%;
	top: 65%;
	width: auto;
}

.logo {
	margin: 25px;
	height: 10%;
	left: 18%;
	position: absolute;
	font-size: 10px;
}

.landingtext {
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	font-size: 135%;
	text-shadow: 2px 2px 5px black;
	text-align: justify;
}

.morebutton {
	font-size: 13px;
	left: 50%;
	width: auto;
	top: 80%;
	padding: 15px 15px;
	border: 2px solid red;
}

.socialIcons .btn-1 {
	position: -webkit-sticky;
	position: fixed;
	font-size: 25px;
	top: 50%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.socialIcons .btn-2 {
	position: -webkit-sticky;
	position: fixed;
	font-size: 25px;
	top: 58%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.socialIcons .btn-3 {
	position: -webkit-sticky;
	position: fixed;
	font-size: 25px;
	top: 66%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.socialIcons .btn-4 {
	position: -webkit-sticky;
	position: fixed;
	font-size: 25px;
	top: 74%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.directions {
	font-size: 11px;
	left: 15%;
	top: 420%;
	width: auto;
	border: 2px solid purple;
}

.directions:hover {
	background-color: purple;
}

.phonecall {
	font-size: 11px;
	left: 35%;
	top: 420%;
	width: auto;
	border: 2px solid blue;
}

.phonecall:hover {
	background-color: blue;
}

.gallery img {
	width: 80%;
	border-radius: 12px;
}

.gallery {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 5px;
}

li:nth-child(1) {
	grid-column: 1/span 2;
	grid-row: 1/span 2;
	z-index: -1;
}

li:nth-child(2) {
	grid-column: 2/span 3;
	grid-row: 2/span 3;
	z-index: -1;
}

li:nth-child(3) {
	grid-column: 4/span 2;
	grid-row: 1/span 2;
}

}

/* -------------------------------------------------- Tablet Configuration ----------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 991px) 
{

.gallery img {
	width: 90%;
	border-radius: 12px;
}

.gallery {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 5px;
}

li:nth-child(1) {
	grid-column: 1/span 2;
	grid-row: 1/span 2;
	z-index: -1;
}

li:nth-child(2) {
	grid-column: 2/span 3;
	grid-row: 2/span 3;
	z-index: -1;
}

li:nth-child(3) {
	grid-column: 4/span 2;
	grid-row: 1/span 2;
}

.landingtext {
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	text-shadow: 2px 2px 5px black;
	text-align: justify;
}

.button1 {
	font-size: 14px;
	left: 20%;
	top: 70%;
	width: auto;
}

.button2 {
	font-size: 14px;
	left: 55%;
	top: 70%;
	width: auto;
}

}
